body{
    margin: 0;
    background-color: rgb(60, 48, 48);
}

section{
    padding: 10rem 2rem;
    background-color: rgb(227, 227, 214);
    height: 100vh;
}

h1{
    /* background-color: black; */
    color: beige;
}


.text-center{
    width:100%;
    text-align: center;
}

.btn{
    width: 4rem;
    margin: 1rem;
    background-color: rgb(60, 48, 48);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
}
input{
    display: block;
    margin: 1rem auto;
    font-size: larger;
    text-align: center;
    padding: 0.4rem;
}

.btn-lg{
    margin: 1rem;
    font-size: 0.8rem;
    width: 6rem;
    height: 3rem;
    display: inline-block;
}


p{
    text-align: center;
    width: 10rem;
    margin: auto;
    padding: 1rem;
    border: 4px solid rgb(20, 5, 90);
    font-size: 2rem;
}